html,
body
{
   font-family: 'Roboto Mono', monospace;
    background-image: url(assets/background.png);

    height: 100%;
    margin: 0;
    padding: 0;
}

#mainDiv{
  position: fixed;
  /* width: 100% */
  height: auto;
  width: 100%;
  display: block;
}

#buttonsDiv{
  height: 100px;
  position: sticky;
  padding: 60px 70px 60px 300px;

}

.siteButtons{
  background-color: #435668;
  margin: 10px 10px;
  height: 60px;
  width: 250px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #FFFFFF;
}

.physicalLocation{
  display: grid;
  /* background: #000000; */
  height: 100%;
  width: 100%;
  grid-template-columns: 48% 48%;
  grid-column-gap: 15px;
  position: fixed;
  padding: 10px 20px;
}



.grid-item{
  /* display: grid; */
  width: 100%;
  border: 1px solid #FFFFFF;
  margin: 5px 5px;
  position: relative;
  color: #FFFFFF;
}

#headingHome{
  padding: 15px 20px;
  height: 40px;
}

#headingItp{
  padding: 15px 20px;
  height: 40px;
}

#contentHome{
  height: auto;
  display: grid;
  grid-template-columns: 48% 48%;
  padding-left: 20px;
}

#ispHome{
  color: #FC3768;
}

#contentItp{
  height: auto;
  display: grid;
  grid-template-columns: 48% 48%;
  padding-left: 20px;
}

#ispItp{
  color: #FC3768;
}
